## Mac OSX ##
.DS_Store

## NPM ##
node_modules/

## Compiled files ##
public/lib
main.js
main.js.map
stream.js
stream.js.map

#external disk files
.Trashes

#Thumbnails
._*

# Floobits
.floo
.floobit
.floo
.flooignore
