## Mac OSX ##
.DS_Store

## NPM ##
node_modules/

## Compiled files ##
public/lib
public/main.js
public/main.js.map
public/stream.js
public/stream.js.map
server.bundle.js
server.bundle.js.map

## alchemyConfig files ##
alchemy.config.js

#external disk files
.Trashes

#Thumbnails
._*

# Floobits
.floo
.floobit
.floo
.flooignore
